PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1
DEBIAN_FRONTEND=noninteractive
FLASK_ENV=development
FLASK_DEBUG=1
DATABASE_URL=postgresql://partymap:password@db:5432/partymap
SQL_HOST=db
SQL_PORT=5432
DATABASE=partymap
DATABASE_USER=partymap
DATABASE_PW=password
SECRET_KEY=something

# below are used by seed_db command in web container
PGDATABASE=partymap
PGUSER=partymap
PGPASSWORD=password 
PGHOST=db
PGPORT=5432

# for rabbit mq config
RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=rabbitmq
RABBIT_MQ_HOSTNAME=rabbit

FACEBOOK_OAUTH_CLIENT_ID=
FACEBOOK_OAUTH_CLIENT_SECRET=

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

HCPATCHA_KEY=
SENDGRID_API_KEY=
LAST_FM_API_KEY=
SPOTIFY_API_KEY=
SPOTIFY_CLIENT_ID=
EXTREME_IP_LOOKUP_KEY=