# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
**/__pycache__
*.pyc
.venv
.venv/*
venv/*
postgres_data/
postgres_data.zip
uploaded_media.tar
.pytest_cache
chromedriver
static.zip
static/
env/
.env.prd
.env.dev
.env.local_dev
.env
geoip-data/
.aider*
