<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PartyMap</title>
</head>
<body style="margin: 0px; height: 100%;">
    <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center; height: 100%; width: 100%;">
        <div style="display: flex; justify-content: flex-start; width: 100%;">
            <img
                src="https://content.partymap.com/statics/logo-with-text.png"
                style="height: 60px;"
            />
        </div>
      <div style="display: flex; flex-direction: column; justify-content: end; margin-bottom: 156px; align-items: center; flex-grow: 1">
        <h3 style="font-family: sans-serif;">Logged in!</h3>
        <a href="{{redirect_uri}}" style="margin-top: 32px; text-decoration: none;;">
            <div style="border-radius: 50px; text-align: center; background: black; color: white; padding: 16px; text-decoration: none!important; font-family: sans-serif; width: 300px">Continue to PartyMap... </div>
        </a>
        </div>
    </div>
</body>
</html>